
[*]

# ReSharper properties
resharper_csharp_max_line_length = 200
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_initializer_on_single_line = false

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
